<%- include('templates/header') %>
Hello, <%= name %>.
<br>
<img style="width: 200px; height: 200px;" src="image<%= image %>.jpg" alt="Random image <%= image %>" />
<br>
<a href="/logout">Sign Out</a>
<%- include('templates/footer') %>